.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 4rem 3.2rem;

  display: flex;
  flex-direction: column;
}

.switch {
  margin: 0 0.5rem 2rem;

  display: flex;
  justify-content: flex-end;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  align-content: center;
}

@media (max-width: 768px) {
  .container section {
    display: flex;
    flex-direction: column;

    margin-top: 10rem;
  }
}
